{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'main/dimensions.css' %}">
   <link rel="stylesheet" href="{% static 'main/layout.css' %}">
   <link rel="stylesheet" href="{% static 'main/backgrounds.css' %}">
   <link rel="stylesheet" href="{% static 'main/text.css' %}">
   <script src="{% static 'main/header.js' %}"></script>
   <title>Cool Backpacks</title>
</head>
<body>
   <header></header>
   <main>
      <section>
         <div class="third">
            <h1>TIRED OF YOUR BACKPACK ZIPPER GETTING STUCK?</h1>
         </div>
         <div class="third"></div>
         <div class="third">
            <h1>TIME FOR YOU TO GET UNSTUCK</h1>
         </div>
      </section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
      <section></section>
   </main>
   <footer>

   </footer>
</body>
</html>